<div class="container">
  <h2>Añadir Nueva Serie</h2>
  
  <form [formGroup]="serieForm" (ngSubmit)="onSubmit()">
    
    <div class="campo">
      <label>Título:</label>
      <input type="text" formControlName="title" placeholder="Ej: Breaking Bad">
      
      @if (serieForm.get('title')?.invalid && serieForm.get('title')?.touched) {
        <small style="color:red;">
          El título es obligatorio (mín. 3 caracteres).
        </small>
      }
    </div>

    <div class="campo">
      <label>Plataforma/Canal:</label>
      <input type="text" formControlName="channel" placeholder="Ej: Netflix">
      </div>

    <div class="campo">
      <label>Puntuación (0-10):</label>
      <input type="number" formControlName="rating">
    </div>

    <button type="submit" [disabled]="serieForm.invalid">
      Guardar Serie
    </button>

  </form>
</div>